- slider = @page.components_lists.find_by_slug('slider')

- if slider
	#slider
		%ul.bjqs
			- slider.components.each do |component|
				%li
					%header= component.title

					- if component.url
						= link_to component.url do
							= image_tag component.image.url()
					- else
						= image_tag component.image.url()


- magazine = Section.find_by_slug('מגזין')
- if magazine
	- last_news = magazine.pages.order('updated_at DESC').first
	- if last_news
		#magazine
			= last_news.title


